.container{
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

.resimSlider{
	height: 703px;
}
body{
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
}
#hakkimizda,#iletisim{
	background-color: #f2f2f2;
}
.ayrac{
	border: none;
	border-top: 3px solid #343a40;
	max-width: 250px;
	margin: 10px auto;
}

.resimKartB{
	height: 250px;	
}
.resimKart>img:hover{
	opacity: 0.8;
}
.sosyalMedya{	
	margin-top: 30px;
	display: inline-block;
	position: relative;
	left:20px;
}
.sosyalMedya a {
 	background:#a1a1a1;
	text-decoration: none;
	color: #FFF;
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 10px;
	margin-right: 20px;
	font-size: 30px;
	overflow: hidden;
	position: relative;
	line-height: 60px;
	text-align: center;
  }
.sosyalMedya a{  
     transition: transform 0.4s linear 0s, 
	 border-top-left-radius 0.1s linear 0s, 
	 border-top-right-radius 0.1s linear 0.1s, 
	 border-bottom-right-radius 0.1s linear 0.2s, 
	 border-bottom-left-radius 0.1s linear 0.3s;
 	
}
.sosyalMedya .facebook:hover {
      background-color: #3b5998;
      transform: rotate(360deg);
      border-radius: 50%;	 
}
 .sosyalMedya .instagram:hover   {
      background-color: #bc2a8d;
      transform: rotate(360deg);
      border-radius: 50%;	 
}
.sosyalMedya .linkedin:hover   {
      background-color: #00aced;
      transform: rotate(360deg);
      border-radius: 50%;	 
}
